$base-background-color: #EFEFEF;
$light-background-color: #FDFDFB;
$secondary-background-color: #F7F5EF;
$dark-background-color: #444240;

$base-accent-color: #E6C8B4;
$border-color: rgba(226, 208, 196, 1);

$prime-stroke-color: #8B8371;
$secondary-stroke-color: #C4C0B6;

$light-button-color: #D4B098;

$base-font-color: #1B1A17;
$light-font-color: #FFFFFF;
$dark-font-color: #1B1A17;
$accent-font-color: $base-accent-color;
$second-font-color: #C4C4C4;
$additional-font-color: #828282;
$primary-font-family: "Roboto", 'Open Sans', sans-serif;
$title-font-family: 'Playfair Display', 'Georgia', serif;
$numeric-font-family: 'Prata', 'Georgia', serif;


$base-width: 1171px;


